<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.warehousev0">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="WarehouseV0"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.WarehouseV0">

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.EditProductActivity" />
        <activity android:name=".ui.AddProductActivity" />
        <activity android:name=".ui.AddCategoryActivity" />
        <activity android:name=".ui.ProductListActivity" />
    </application>
</manifest>